:root {
  --grey: rgba(240, 240, 240, 0.6);
  --darkGrey: rgba(210, 210, 210, 1);
}

* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}

/******************
Landing Page
******************/

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: url("./Images/landing-bg.jpg") no-repeat;
  background-size: cover;
}

header {
  align-self: flex-end;
  padding: 20px;
  background-color: var(--grey);
}

.siteName {
  font-size: 4rem;
  text-align: center;
  width: 500px;
  margin: 50px 5px;
  padding: 40px;
  background-color: var(--grey);
  border: 1px solid rgba(50, 50, 50, 1);
}

.blurb {
  align-self: flex-start;
  padding: 40px;
  margin: 40px;
  width: 250px;
  background-color: var(--grey);
  border: 1px solid rgba(50, 50, 50, 1);
}

.blurb h4 {
  margin-bottom: 1.1rem;
}

/******************
Input Page
******************/

.form__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input {
  margin: 50px 20px;
}

.input__header_container {
  background-color: lightblue;
  padding: 20px 0;
  margin-bottom: 1.1rem;
}

.input__header {
  text-align: center;
  margin-bottom: 1.1rem;
}

.input__instructions {
  text-align: justify;
  line-height: 1.6rem;
  width: 500px;
  margin: 0 auto;
}

input {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  background: lightgrey;
  padding: 20px;
}

input,
.form__input {
  font-size: 1.2em;
  padding: 5px;
}

.input__instructions {
  margin-bottom: 1.1em;
}

.form__input {
  width: 80vw;
  min-height: 150px;
}

.form__subheader {
  margin: 1.2em 0;
}

/******************
Preview page
******************/

/* Grey Border */
.preview__header {
  border-bottom: 4px solid var(--darkGrey);
}

.info, .skills, .profile {
  border-bottom: 4px solid var(--darkGrey);
}

.info, .skills, .education {
  border-right: 4px solid var(--darkGrey);
}
/*****************/

/*****************
Grid Setup
*****************/

.preview__header {
  grid-area: header;
}

.info {
  grid-area: info;
}

.skills {
  grid-area: skills;
  text-align: right;
}

.education {
  grid-area: education;
  text-align: right;
}

.work-experience {
  grid-area: work-experience;
}

.preview {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header"
    "info profile"
    "skills work-experience"
    "education work-experience";
  margin: 20px;
  padding: 15px;
  border: 1px solid black;
}
/*****************/

.label {
  position: absolute;
  top: 100vh;
  left: 10px;
  padding: 20px;
  margin-top: 40px;
  margin-left: 10px;
  transform: rotate(-25deg);
  font-size: 1.6rem;
  border: 1px solid darkblue;
  background: lightblue;
}

.preview__header {
  text-align: center;
  padding: 30px;
  font-family: "Merienda", cursive;
  font-size: 4rem;
  font-weight: bold;
}

.info,
.skills,
.education,
.profile,
.work-experience {
  padding: 20px;
}

.preview__subheading {
  text-transform: uppercase;
  padding-bottom: 15px;
}

.work-experience__position {
  padding-bottom: 25px;
}

.work-experience__title, .education__title {
  padding-bottom: 5px;
}

.work-experience__compDate {
  padding-bottom: 15px;
}

.work-experience ul {
  margin-left: 1em;
  padding-inline-start: 1em;
}

.work-experience li {
  padding-top: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fas, .fab {
  margin-left: 10px;
  font-size: 2rem;
}

.skills__list {
  list-style-type: none;
  line-height: 1.8rem;
}

/* use this to block out all the other content on other pages when printed */
@media print {
  .noPrint {
    display: none;
  }
}

/* size: A4; 
  apparently this is experimental across browsers
*/
