:root {
  --grey:  rgba(240,240,240,0.6);
}

* {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: url('./Images/landing-bg.jpg') no-repeat;
  background-size: cover;
}

header {
  align-self: flex-end;
  padding: 20px;
  background-color: var(--grey);
}

.siteName {
  font-size: 4rem;
  text-align: center;
  width: 500px;
  margin: 50px 5px;
  padding: 40px;
  background-color: var(--grey);
  border: 1px solid rgba(50,50,50,1);
}

.blurb {
  align-self: flex-start;
  padding: 40px;
  margin: 40px;
  width: 250px;
  background-color: var(--grey);
  border: 1px solid rgba(50,50,50,1);
}

.blurb h4 {
  margin-bottom: 1.1rem;
}

.input {
  margin: 50px 20px;
}

.input__header {
  margin-bottom: 1.1rem;
}

input {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  background: lightgrey;
  padding: 20px;
}

input, .form__input {
  font-size: 1.2em;
  padding: 5px;
}

.input__instructions {
  margin-bottom: 1.1em;
}

.form__input {
  width: 80vw;
  min-height: 150px;
}

.form__subheader {
  margin: 1.2em 0;
}

